export DATABASE_USERNAME='abrstageuser';
export DATABASE_PASSWORD=;
export DATABASE_HOST='{{ database_host }}';
# drupal db
export DRUPAL_DB_NAME='abrstagedb';
#stay lucky db
export STAYLUCKY_DB_NAME='';
#Env vars for aws server
export AWS_DOMAIN='stage-static.americasbestracing.net';
export AWS_BUCKET='abr-stage-static';